rvl_alias "w_pixclk" "w_pixclk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "fv" IO_TYPE=LVCMOS18 ;
IOBUF PORT "lv" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "test" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[9]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[8]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pixdata[0]" IO_TYPE=LVCMOS18 ;
LOCATE COMP "pixclk" SITE "U2" ;
LOCATE COMP "lv" SITE "V1" ;
LOCATE COMP "fv" SITE "T6" ;
LOCATE COMP "pixdata[0]" SITE "N5" ;
LOCATE COMP "pixdata[1]" SITE "N7" ;
LOCATE COMP "pixdata[2]" SITE "P5" ;
LOCATE COMP "pixdata[3]" SITE "P6" ;
LOCATE COMP "pixdata[4]" SITE "R4" ;
LOCATE COMP "pixdata[5]" SITE "R7" ;
LOCATE COMP "pixdata[6]" SITE "R5" ;
LOCATE COMP "pixdata[7]" SITE "T3" ;
LOCATE COMP "pixdata[8]" SITE "T5" ;
LOCATE COMP "pixdata[9]" SITE "U3" ;
BLOCK JTAGPATHS;
